.newPost {
    grid-area: newPost;
}

.newPost > span:first-child {
    background: -webkit-linear-gradient(135deg, #3C5AFB, #b004db);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.post {
    padding: 10px;

    background: linear-gradient(180deg, rgba(44, 217, 255, 0.15) 0%, rgba(61, 9, 171, 0.15) 100%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
}

.textarea {
    position: relative;
    resize: none;
    width: 70%;
    border-radius: 10px;
    background-color: transparent;
    color: #E2E2E2;
    margin-right: 0;
    min-height: 100px;
    height: 100px;
    text-align: center;
}

.textarea::after {
    content: "";
    position: absolute;
    background: linear-gradient(135deg, #3C5AFB, #b004db);
    width: 100%;
    height: 108%;
    top: -4%;
    left: 0;
    z-index: -1;
    display: block;
    border-radius: 10px;
}

.textarea textarea {
    float: left;
    font-size: 12px;
    margin-left: 5px;
    font-family: "Rajdhani", monospace;
    border-radius: 10px;
    resize: none;
    width: 90%;
    height: 100%;
    background-color: black;
    color: #E2E2E2;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}


.textarea textarea:focus {
    outline: none;
}

.postButton {
    display: block;
    text-decoration: none;
    color: #E2E2E2;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    position: relative;
    align-self: end;
    width: 110px;
    margin-left: 5px;
    filter: drop-shadow(0px 5px 5px rgba(92, 16, 253, 0.56));
}

.postButton span {
    display: block;
    background-color: black;
    color: #E2E2E2;
    border-radius: 5px;
}

.postButton::after {
    content: "";
    width: 106%;
    height: 110%;
    top: -5%;
    left: -3%;
    position: absolute;
    border-radius: 5px;
    z-index: -1;
    background: linear-gradient(135deg, #3C5AFB, #b004db);
}

.postButton span:hover {
    background-color: transparent;
    cursor: pointer;
}