.profileBackground {
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileBackground > img {
    width: 100%;
}