.nav {
    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 20px;
    padding: 30px 20px;
    grid-row-start: 1;
    grid-row-end: 2;
}

.menuList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.menuList .item {
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 5px rgba(92, 16, 253, 0.56));
}

.menuList .item::after {
    content: "";
    width: 106%;
    height: 110%;
    top: -5%;
    left: -3%;
    position: absolute;
    border-radius: 5px;
    z-index: -1;
    background: linear-gradient(135deg, #3C5AFB, #b004db);

}

.menuList .item a {
    border-radius: 5px;
    display: block;
    text-decoration: none;
    color: #E2E2E2;
    background-color: #000000;
}


.menuList .item a:hover,
.menuList .item .active{
    color: #000000;
    background: linear-gradient(135deg, #3C5AFB, #b004db);
}