.nav {
    grid-area: n;
    background-color: #9978c8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;

}

.item {
    margin-bottom: 10px;
}

.item a {
    text-decoration: none;
    color: white;
}

.item a.active {
    color: black;
}